body {
    font-size: 18px;
}

.birth-day {
    color: black;
    font-weight: 700
}

.cinema-name {
    font-size: 26px;
}

.cinema-image {
    width: 200px;
    height: 400px;
    object-fit: cover;
}